.red {
    color: red;
}

header {
    text-align: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0249/7506/products/Davey_Jones_bps_1024x1024.jpg?v=1520191132');
    color: white;
    padding: 50px;
}