html {
    background-color: teal;
}

.red {
    color: red;
}

header {
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 2px 4px black;
    padding-top: 126px;
    padding-bottom: 48px;
    background-image: url('https://images.fineartamerica.com/images-medium-large/money-worries-conceptual-artwork-smetek.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 250%;
    font-family: 'Cinzel Decorative', cursive;
}

h3 {
    padding: 20px;
    background-color: teal;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Raleway', sans-serif;
}

h5 {
    padding-top: 6px;
    padding-bottom: 18px;
}

div {
    margin: 4px;
}